doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", href="/styles/main.css")
    link(rel="stylesheet", href="/styles/header.css")
    link(rel="stylesheet", href="/styles/sidebar.css")
    link(rel="stylesheet", href="/styles/feed.css")
    link(rel="stylesheet", href="/styles/photos.css")
    link(rel="stylesheet", href="/styles/formPhoto.css")
    link(rel="stylesheet", href="/styles/formAlbum.css")
    link(rel="stylesheet", href="/styles/albums.css")
    link(rel="stylesheet", href="/styles/profile.css")
    link(rel="stylesheet", href="/styles/formProfile.css")

    //- BOOTSTRAP AND FONTAWESOME
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
  body 
    include ../partials/header.pug
    .container__main
      .row 
        div(class= user ? "col-lg-2 col-md-0 col-sm-0" : "col-lg-0 col-md-0 col-sm-0")
          include ../partials/sidebar.pug
        div(class=user ? "col-lg-10 col-md-12 col-sm-12" : "col-lg-12 col-md-12 col-sm-12")
          block profile
          block editProfile
          block feedPage
          block feedAlbumPage
          block photoPage 
          block albumPage 
          block newPhoto
          block editPhoto
          block newAlbum
          block editAlbum





    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js' integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1' crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous')

