.newPhoto__heading {
  padding-bottom: 12px;
  margin-bottom: 24px;
  border-bottom: 1px solid #ccc;
  font-size: 18px;
  font-weight: 500;
}
.newPhoto__form-label {
  font-size: 16px;
  font-weight: 500;
  color: #333;
  margin-bottom: 6px;
}
.newPhoto__form-input {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 16px;
  width: 100%;
  padding: 8px;
}
.newPhoto__form-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-right: 12px;
}
.newPhoto__form-label-image {
  background-color: #ccc;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  border: 2px dashed #777;
}

.newPhoto__form-label-image .plus__icon {
  font-size: 50px;
  color: #bbb;
}
.newPhoto__form-newAlbum {
  font-weight: 500;
  margin-bottom: 8px;
  cursor: pointer;
}
.heading__newAlbum {
  font-size: 20px;
  font-weight: 500;
  color: #333;
  margin-bottom: 0;
}
.remove__newAlbum {
  font-size: 14px;
  font-weight: 500;
  color: red;
  cursor: pointer;
}
