@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
:root {
  --primary-color: #3c5999;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
  transition: all 0.2s linear;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
body {
  min-height: 100vh;
  background-color: #ddd !important;
}

.container__main {
  padding: 0 10%;
  margin: 24px 0;
}
.error_message,
.success_message {
  position: fixed;
  right: 40px;
  top: 10%;
  color: white;
  font-weight: 500;
  padding: 8px;
  animation: RightToLeft 0.24s ease-in;
  border-radius: 6px;
}
.success_message {
  background-color: rgb(0, 81, 255);
}
.error_message {
  background-color: red;
}
.none__message {
  width: 100%;

  text-align: center;
  margin-top: 16px;
}
.none__message span {
  font-size: 24px;
  font-weight: 400;
  color: var(--primary-color);
  animation: TextDance 1s linear infinite;
}
.none__message a {
  font-size: 28px;
  font-weight: 600;
  margin-left: 12px;
  text-transform: uppercase;
  animation: ColorChange 1s linear infinite;
}

@keyframes RightToLeft {
  0% {
    transform: translateX(200px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes TextDance {
  0% {
    font-style: italic;
  }
  100% {
    font-style: normal;
  }
}
@keyframes ColorChange {
  0% {
    color: #333;
  }
  50% {
    color: #333;
  }
  100% {
    color: red;
  }
}
@media screen and (max-width: 767px) {
  .container__main {
    padding: 12px 4%;
  }
}
