extends ../layout/mainLayout.pug 
block feedAlbumPage 
  .feedPhoto__container.w-100.bg-white 
    .feedPhoto__page-list.w-100.d-flex.align-item-center.justify-content-center.p-3
      a.feedPhoto__page-item(href="/" class=title ==="feedPhotoPage" ? "active" : "") Photo
      a.feedPhoto__page-item(href="/albums" class=title ==="feedAlbumPage" ? "active" : "") Album
    .feedPhoto__body.container.pb-3.px-3
      .row.container
        .col-lg-6.col-md-6.col-sm-12.p-0.feedPhoto__item
          .row.p-0.container
            .col-lg-6.col-md-6.col-sm-12
             .feedPhoto__body-image-list
              img.feedPhoto__body-image-item(src="/images/avatar-placeholder-01.jpg", alt="")
              img.feedPhoto__body-image-item(src="/images/avatar-placeholder-01.jpg", alt="")
              img.feedPhoto__body-image-item(src="/images/avatar-placeholder-01.jpg", alt="")
            .col-lg-6.col-md-6.col-sm-12.py-2
              .feedPhoto__content-top
                .user__info.d-flex.align-items-center.justify-content-start 
                  img(src="/images/avatar-placeholder-01.jpg", alt="")
                  p.user_name.mb-0 Conian Guys
                h3.feedPhoto__title Nam tempor posuere faucibus
                p.feedPhoto__description Aliquam dictum nec massa ac consequat. Etiam dignissim tincidunt tellus sed vestibulum. Sed vitae vestibulum purus. Curabitur malesuada libero in nibh pretium, sed malesuada nisi feugiat.
              .feedPhoto__content-bottom.d-flex.align-items-center.justify-content-between
                i(class="fa-solid fa-heart header__icon") 
                  span 123
                p.feedPhoto__content-date.mb-0 4:56 pm 01/04/2018