header.header
  .header__left
    .logo 
      p.logo__content Potobook
    .input__search
      input(type="text" placeholder="Search photo / album")
  .header__right
      a.login__link(href="/auth/login") login