nav.navbar__container
  ul.navbar__list
    li.navbar__item 
      a.navbar__link(href="/" class=title=== "feedPhotoPage" ? "active" : "") Feeds
    li.navbar__item 
      a.navbar__link(href="/my-photos" class=title=== "myPhotoPage" ? "active" : "") My Photos
    li.navbar__item 
      a.navbar__link(href="/my-albums" class=title=== "myAlbumPage" ? "active" : "") My Albums