extends ../layout/adminLayout.pug
block editUser
  .editProfile__container.w-100.bg-white.p-3 
    h1.editProfile__heading Edit user profile
    .form__wrapper 
      //-FORM PROFILE
      form.editProfile__form(action="/admin/edit-user/" + userExist._id enctype="multipart/form-data" method="POST")
        .input__image-wrapper
          img.image__preview(src= userExist.avatar ? userExist.avatar : "/images/avatar-placeholder.jpg", alt="")
          label.input__image-label(for="input__image-avatar") Change
          input#input__image-avatar(type="file", name="image" hidden)
        .editProfile__form-group.mt-3
          label.editProfile__form-label
          p.editProfile__form-title.mb-0 Basic infomation 

        .editProfile__form-group 
          label.editProfile__form-label First Name 
          input.editProfiel__form-input(type="text", value= userExist.firstName name="firstName" placeholder="First Name...")
        .editProfile__form-group 
          label.editProfile__form-label Last Name 
          input.editProfiel__form-input(type="text", value= userExist.lastName  name="lastName" placeholder="Last Name...")
        .editProfile__form-group 
          label.editProfile__form-label Email Name 
          input.editProfiel__form-input(type="text", value= userExist.email name="email" disabled placeholder="Email")
        .editProfile__form-group 
          label.editProfile__form-label Active
          input.editProfiel__form-input(type="checkbox" name="active" checked=userExist.active ? true : false) 
        .editProfile__form-group 
          label.editProfile__form-label
          button.editProfiel__form-input.btn.btn-success(type="submit") Save
          
      if success_message.length > 0
        p.success_message= success_message
      if error_message.length > 0
        p.error_message= error_message

      script.
        const inputImage = document.querySelector("#input__image-avatar")
        const imagePlaceholder = document.querySelector(".image__preview")

        inputImage.addEventListener('change', (e)=> {
          if (e.target.files.length){
            const src = URL.createObjectURL(e.target.files[0]);
            imagePlaceholder.src = src;
            imagePlaceholder.style.display = "block";
          }
        })