extends ../layout/adminLayout.pug 
block photos 
  .myPhoto__container.w-100.bg-white.py-3 
    .myPhoto__body 
      .container
        .row.myPhoto__list
          each photo in photos
            .col-lg-3.col-md-6.col-sm-12
              .myPhoto__item
                img.myPhoto__item-img(src= photo.image, alt="")
                .myPhoto__item-content
                  p.myPhoto__item-title= photo.title
                  a.myPhoto__item-editIcon.d-block(href="/admin/edit-photo/" + photo._id) 
                    i(class="fa-solid fa-pen-to-square text-white")
                if photo.mode === "private"
                  .myPhoto__private.bg-white 
                    i(class="fa-solid fa-lock")